<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Profile
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<ul>
					<span></span>
					<li>
						{% if setting.company %}
							<img src="/image/ico/check_green.svg" alt="" width="30" height="30">
						{% else %}
							<img src="/image/ico/exclamation.svg" alt="" width="30" height="30">
						{% endif %}

						<a href="{{path('app_company')}}">Societe</a>
					</li>
					<li>
						<a href="{{path('app_galery')}}">Galerie</a>
					</li>
					<li>
						{% if setting.driver %}
							<img src="/image/ico/check_green.svg" alt="" width="30" height="30">
						{% else %}
							<img src="/image/ico/exclamation.svg" alt="" width="30" height="30">
						{% endif %}
						<a href="{{path('app_driver_index')}}">Driver</a>
					</li>
					<li>
						{% if setting.car %}
							<img src="/image/ico/check_green.svg" alt="" width="30" height="30">
						{% else %}
							<img src="/image/ico/exclamation.svg" alt="" width="30" height="30">
						{% endif %}
						<a href="{{path('app_car_index')}}">Vehicule</a>
					</li>
					<li>
						{% if setting.bank %}
							<img src="/image/ico/check_green.svg" alt="" width="30" height="30">
						{% else %}
							<img src="/image/ico/exclamation.svg" alt="" width="30" height="30">
						{% endif %}
						<a href="{{path('app_bank_account_index')}}">Banque</a>
					</li>
					<li>
						{% if setting.client %}
							<img src="/image/ico/check_green.svg" alt="" width="30" height="30">
						{% else %}
							<img src="/image/ico/exclamation.svg" alt="" width="30" height="30">
						{% endif %}
						<a href="{{path('app_client_index')}}">Client</a>
					</li>
					<li>
						{% if setting.article %}
							<img src="/image/ico/check_green.svg" alt="" width="30" height="30">
						{% else %}
							<img src="/image/ico/exclamation.svg" alt="" width="30" height="30">
						{% endif %}
						<a href="{{path('app_article_index')}}">Article</a>
					</li>

					<li>
						{% if setting.isReservation %}
							<a href="{{ path('app_gestion_reservation') }}" role="button">Reservation</a>
						{% else %}
							<a href="#" role="button" disabled>Reservation</a>
						{% endif %}
					</li>
					<li>
						{% if setting.isReservation %}
							<a href="#" role="button">Facture</a>
						{% else %}
							<a href="#" role="button" disabled>Facture</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
