{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('js/factureLibre.js') }}" defer></script>
{% endblock %}

{% block title %}Facture add article
{% endblock %}

{% block body %}
	<h1>Facture Liste</h1>

	<div class="d-flex justify-content-between">

		<div class="shadow-none p-3 mb-5 bg-light rounded">
			{{ company.formeJuridique }}
			{{ company.name }}
			<br>
			{{ company.adress }}
			<br>
			{{ company.zipCode }}
			{{ company.city }}
			<br>
			{{ company.phone }}
			/
			{{ company.email }}
			<br>
			Siret:
			{{ company.siret }}


		</div>

	</div>
	<a href="{{ path('app_facture_libre_new') }}">
		<button class="btn btn-primary mb-2">New facture</button>
	</a>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Action</th>
			</tr>

		</thead>
		<tbody>
			{% for facture in factures %}
				<tr>
					<td>{{ facture.name }}</td>
					<td>{{ facture.createdAt|date('d/m/Y') }}</td>
					<td>
						<a href="{{ path('app_facture_libre_show',{id:facture.id}) }}">Voir</a>
					</td>
				</tr>
			{% else %}
				no records found
			{% endfor %}
		</tbody>

	</table>


{% endblock %}
